/* first for IE 4–8 */
@font-face {
  font-family: KievitWebPro-Black;
  src: url("KievitWebPro-Black.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: KievitWebPro-Black;
  src: url("KievitWebPro-Black.woff") format("woff");
}

/* first for IE 4–8 */
@font-face {
  font-family: KievitWebPro-Bold;
  src: url("KievitWebPro-Bold.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: KievitWebPro-Bold;
  src: url("KievitWebPro-Bold.woff") format("woff");
}

/* first for IE 4–8 */
@font-face {
  font-family: KievitWebPro;
  src: url("KievitWebPro.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: KievitWebPro;
  src: url("KievitWebPro.woff") format("woff");
}

/* first for IE 4–8 */
@font-face {
  font-family: KievitWebPro;
  src: url("KievitWebPro-Ita.eot");
  font-weight: normal;
  font-style: italic;
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: KievitWebPro;
  src: url("KievitWebPro-Ita.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

/* first for IE 4–8 */
@font-face {
  font-family: KievitWebPro;
  src: url("KievitWebPro-Bold.eot");
  font-weight: bold;
  font-style: normal;
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: KievitWebPro;
  src: url("KievitWebPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
font-family: entypo;
src: url('entypo.ttf'),
     url('entypo.eot'); /* IE9 */
-webkit-font-smoothing: antialiased; 
}

@font-face {
font-family: entypo-social;
src: url('entypo-social.ttf'),
     url('entypo-social.eot'); /* IE9 */
-webkit-font-smoothing: antialiased; 
}

/* Toast Framework - type.css */
body {
	font: 1.2em/1.5 KievitWebPro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #fafafa;
	-webkit-font-smoothing: antialiased; 
}

p {
	font-size: 1em;
	line-height: 1.5em;
	color: #69717b;
	margin-bottom: 1.5em;
	font-weight: normal;
}

strong {
	font-family: KievitWebPro-Bold;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	color: #343434;
	-webkit-font-smoothing: antialiased; 
	text-align: center;
	font-weight: normal;
}

h1 {
    font-size: 1.8em;
    line-height: 1em;
    margin-bottom: .5em;
}
h2 {
	font-family: KievitWebPro-Bold;
    font-size: 1.8em;
    line-height: 1.3em;
    margin-top: 1.5em;
    margin-bottom: .3em;
}
h3 {
    font-size: 1em;
   	color: #818c97;
    line-height: 1.4em;
    -webkit-margin-before: 0;
    margin-bottom: 2em;
}
h4 {
	font-size: 1.2em;
	line-height: 1.5em;
  
}
h5 {
    font-size: 1.125em;
    line-height: 1.6em;
    margin-bottom: 1.5em;
    text-align: left;
}
h6 {
	font-family: KievitWebPro-Bold;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2em;
    margin-top: 1.4em;
    margin-bottom: .7em;
    color: #42459d; /* #818c97; */
    text-align: center;
}
ul, ol, dl, blockquote {
    margin-top: 0;
    margin-bottom: 0;
}

ul, li {
	color: #697480;
	list-style: disc;
	line-height: 1.5em;
	list-style-position: inside;
	-webkit-font-smoothing: antialiased;
}

a, a:visited {
	color: #42459d;
	text-decoration: underline;
}

a:hover {
	opacity: 0.7;
	text-decoration: none;
}

.fb {
	width: 130px;
	padding-top: 7px;
}

.twitter-share-button {
	margin-right: 5px;
}

.entypo {
	font-family: entypo;
}

.social {
	width: 100%;
	text-align: right;
	position: fixed;
	margin-right: 0;
	padding-right: 20px;
}

.price-tag {
	font-family: KievitWebPro-Bold;
	font-size: 2em;
	line-height: 1em;
	text-align: center;
	position: absolute;
	top: 17px;
	left: 277px;
	color: #fff;
	background-color: #F4B400;
	-moz-border-radius: 600px;
	-webkit-border-radius: 600px;
	-khtml-border-radius: 600px;
	border-radius: 600px;
	padding: 24px 23px 22px 23px;
}

.hero {
	background-color: #3d99de;
	height: 420px;
	text-align: center;
}

.hero h1 {
	color: #fff;
	font-family: KievitWebPro-Black;
	font-size: 4em;
	/* letter-spacing: -1px; */
	line-height: 1.2em;
	margin-top: 0;
	margin-bottom: .3em;
	padding-top: 120px;
	text-align: center;
}

.hero h6 {
	font-family: KievitWebPro;
	font-weight: normal;
	font-style: italic;
	font-size: 16px;
	/* letter-spacing: -1px; */
	line-height: 1.5em;
	margin-left: 610px;
	margin-top: 1.3em;
	padding-top: 0px;
	text-align: left;
	border-bottom: none;
}

.hero ul,li {
	color: #fff;
	margin-top: 0;
	list-style: none;
}

.section {
	height: 500px;
	text-align: center;
	border-bottom: 1px solid #efefef;
}

.graphs {
	/* background: url(../images/pageviews_graph.svg) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
	margin-top: -200px;
	overflow-x: scroll;
}

.big-number {
	font-family: "chaparral-pro", sans-serif;
	font-size: 10em;
}

a.purchase-button {
	font-size: .9em;
	font-family: KievitWebPro-Bold;
	font-weight: normal;
	line-height: 1em;
	color: #fff;
	border: 2px solid #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 12px 17px 10px 17px;
	text-decoration: none;
	z-index:1000;
	text-align: center;
	margin-bottom: .5em;
}

a:hover.purchase-button {
	color: #42459D;
	border: 2px solid #42459D;
}

.block {
	border-bottom: 1px solid #efefef;
}

.top {
	width: 100%;
	margin-top: 0;
	margin-bottom: -14px;
	text-align: center;
}

a.backtotop {
	font-size: .7em;
	font-family: KievitWebPro-Bold;
	line-height: 1em;
	background-color: #fff;
	color: #818c97;
	border: 1px solid #efefef;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	padding: 12px 17px 10px 17px;
	text-decoration: none;
	position: relative; 
	z-index:1000;
}

a:hover.backtotop {
	border: none;
	color: #fff;
	background-color: #818c97;
}

.highlight {
	color: #3eaf8e;
	font-size: 1.8em;
}

.green {
	color: #3d99de; /* #3eaf8e; */	
}

.subscribe {
	text-align: center;
	border-top: 1px solid #e2e3e4;
	padding: none;
	padding-top: 1.4em !important;
	margin: 0;
	margin-bottom: 1em !important;
}

.subscribe h6 {
	border-top: 1px solid #e2e3e4;
	border-bottom: none;
	line-height: 1.3em;
	text-align: center;
}

.signup {
	/* border: 1px solid red; */
	text-align: center;
	position: relative;
}

.mc-field-group, #mce-responses {
	display: inline-block;
}

.mc-field-group input {
	font-size: .9em;
	font-family: KievitWebPro-Bold !important;
	font-weight: normal !important;
	line-height: 1em;
	/* background-color: #42459d; */
	color: #818c97;
	background-color: #fafafa;
	border: 2px solid #818c97;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 12px 17px 10px 17px;
	text-decoration: none;
	position: relative; 
	z-index:1000;
	display: inline-block;
	margin-bottom: .5em;
	text-align: left;
	width: 100%;
	box-sizing: border-box;
	vertical-align: top;
}

.button {
	font-size: .9em;
	font-family: KievitWebPro-Bold;
	font-weight: normal;
	line-height: 1em;
	/* background-color: #42459d; */
	color: #42459d;
	background-color: #fafafa;
	border: 2px solid #42459d;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 12px 17px 10px 17px;
	box-sizing: border-box;
	text-decoration: none;
	position: relative; 
	z-index:1000;
	display: inline-block;
	text-align: center;
	min-width: 20%;
	vertical-align: top;
}

.footer {
	margin-bottom: 1em;
	border-top: 1px solid #efefef;
}

.footer p {
	width: 100%;
	color: #adb7c0;
	font-size: .7em;
	text-align: center;
	display: inline-block;
	margin-top: 1.5em;
	margin-bottom: .5em;
}

.light a {
	color: #adb7c0;
}

.socialfooter {
	margin-top: 0;
	width: 100%;
	text-align: center;
	padding-right: 0;
	margin-right: 0;
}

.languageselect {
	text-align: center;
}

/* Media Queries */

/* Tablet */
@media (max-width: 1136px) and (min-width: 769px) {

	.price-tag {
		top: 17px;
		left: 112px;
	}
	
	.hero {
		background-position-x: 155px;
		background-position-y: 60px;
	}
	
	.hero h1 {
		margin-left: 430px;
	}
	
	.hero h6 {
		margin-left: 430px;
	}

}

/* Tablet */
@media (max-width: 768px) and (min-width: 641px) {
	
	.price-tag {
		top: 17px;
		left: 10px;
	}
	
	.hero {
		background-position-x: 25px;
		background-position-y: 60px;
	}
	
	.hero h1 {
		margin-left: 294px;
	}
	
	.hero h6 {
		margin-left: 294px;
	}

}

/* Mobile */
@media (max-width: 640px) and (min-width: 481px) {  
  
  .social {
  	width: 100%;
  	text-align: center;
  	position: absolute;
  	padding-right: 0;
  }
  
  .price-tag {
  	top: 45px;
  	left: 10px;
  }
  
  .hero {
  	background-position-x: 25px;
  	background-position-y: 80px;
  	background-repeat: no-repeat;
  	background-size: 35%;
  	height: 420px;
  }
  
  .hero h1 {
  	font-size: 40px;
  	margin-left: 275px;
  	margin-bottom: 0;
  	padding-top: 100px;
  	text-align: left;
  }
  
  .hero h6 {
  	font-size: 14px;
  	margin-left: 275px;
  	margin-top: .8em;
  	padding-top: 0px;
  	padding-right: 25px;
  	text-align: left;
  	border-bottom: none;
  }
  
  .hero ul,li {
  	color: #fff;
  	margin-top: 0;
  }
  
  .description {
  	color: #8f9ca8;
  	font-size: .7em;
  	text-align: center;
  	margin-top: .4em;
  	margin-bottom: 3.5em;
  }
  
}

/* Mobile */
@media (max-width: 480px) and (min-width: 321px) {  
  
  .social {
  	width: 100%;
  	text-align: center;
  	position: absolute;
  	padding-right: 0;
  }
  
  .price-tag {
  	top: 45px;
  	left: 10px;
  }
  
  .hero {
  	background-position-x: 39px;
  	background-position-y: 80px;
  	background-repeat: no-repeat;
  	background-size: 84%;
  	height: 460px;
  }
  
  .hero h1 {
  	margin-left: 20px;
  	margin-bottom: 0;
  	padding-top: 40px;
  	text-align: left;
  	visibility: hidden;
  }
  
  .hero h6 {
  	margin-left: 20px;
  	margin-top: .8em;
  	padding-top: 0px;
  	text-align: left;
  	border-bottom: none;
  	visibility: hidden;
  }
  
  .hero ul,li {
  	color: #fff;
  	margin-top: 0;
  	list-style: none;
  }
  
  .description {
  	color: #8f9ca8;
  	font-size: .7em;
  	text-align: center;
  	margin-top: .4em;
  	margin-bottom: 3.5em;
  }
  
}

/* Mobile */
@media (max-width: 320px) and (min-width: 0px) { 
  
  .social {
  	width: 100%;
  	text-align: center;
  	position: absolute;
  	padding-right: 0;
  }
  
  .price-tag {
  	top: 45px;
  	left: 10px;
  }
  
  .hero {
  	background-position-x: 25px;
  	background-position-y: 80px;
  	background-repeat: no-repeat;
  	background-size: 85%;
  	height: 360px;
  }
  
  .hero h1 {
  	margin-left: 20px;
  	margin-bottom: 0;
  	padding-top: 40px;
  	text-align: left;
  	visibility: hidden;
  }
  
  .hero h6 {
  	margin-left: 20px;
  	margin-top: .8em;
  	padding-top: 0px;
  	text-align: left;
  	border-bottom: none;
  	visibility: hidden;
  }
  
  .hero ul,li {
  	color: #fff;
  	margin-top: 0;
  	list-style: none;
  }
  
  .description {
  	color: #8f9ca8;
  	font-size: .7em;
  	text-align: center;
  	margin-top: .4em;
  	margin-bottom: 3.5em;
  }
  
}