@font-face {
font-family: entypo;
src: url('entypo.ttf'),
     url('entypo.eot'); /* IE9 */
-webkit-font-smoothing: antialiased; 
}

@font-face {
font-family: entypo-social;
src: url('entypo-social.ttf'),
     url('entypo-social.eot'); /* IE9 */
-webkit-font-smoothing: antialiased; 
}

/* Toast Framework - type.css */
body {
	font: 400 1.1em/1.5 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #fafafa;
	-webkit-font-smoothing: antialiased; 
}

p {
	font-size: 1em;
	line-height: 1.6em;
	color: #697480;
	margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	color: #343434;
	-webkit-font-smoothing: antialiased; 
	text-align: center;
}

h1 {
    font-size: 1.6em; /* 48 / 16 */
    line-height: 1em; /* 48 / 48 */
    margin-bottom: .5em; /* 24 / 48 */
    letter-spacing: -1px;
    font-weight: 900;
}
h2 {
    font-size: 1.4em; /* 36 / 16 */
    line-height: 1.5em; /* 48 / 36 */
    margin-bottom: .5em; /* 24 / 36 */
    font-weight: 700;
}
h3 {
    font-size: 1em; /* 24 / 16 */
   	color: #818c97;
    line-height: 1em; /* 24 / 24 */
    margin-top: 0;
    margin-bottom: 0.4em; /* 24 / 24 */
    text-align: left;
}
h4 {
	font-size: 1.2em;
	line-height: 1.5em;
	font-weight: 200;
  
}
h5 {
    font-size: 1.125em;
    line-height: 1.6em;
    margin-bottom: 1.5em;
    font-weight: 200;
    text-align: left;
}
h6 {
    font-size: 1em; /* 16 / 16 */
    line-height: 1.5em; /* 24 / 16 */
    margin-bottom: .4em; /* 24 / 16 */
    color: #818c97;
    text-align: left;
    margin-left: .5em;
    margin-top: 1em !important;
}
ul, ol, dl, blockquote {
    margin-top: 0;
    margin-bottom: 0; /* 24 / 16 */
}

ul, li {
	color: #697480;
	list-style: disc;
	list-style-position: inside;
	-webkit-font-smoothing: antialiased;
	padding-left: 1px;
}

a, a:visited {
	color: #5a5a5a;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.hero {
	background-color: #3d99de;
	background-image: url(../images/keyboard.png);
	background-position: absolute;
	background-position-x: 80px;
	background-position-y: 300px;
	background-repeat: no-repeat;
	height: 460px;
}

.hero h1 {
	color: #fff;
	font-size: 52px;
	font-weight: 900;
	line-height: 1.2em;
	margin-top: 0;
	padding-top: 155px;
	text-align: center;
	letter-spacing: -1px;
}

.nav {
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	min-height: 140px;
	margin-top: 35px;
	padding: 0;
	border-bottom: 1px solid #e4e4e4;
}

.nav ul {
	width: 100%;
	display: inline-block;
	list-style-type: none;
	float: left;
}

.nav li {
	vertical-align: top;
	display: inline-block;
	width: 100px;
	padding: 0 5px 0 5px;
	margin-bottom: 20px;
}

.nav li img {
	display: block;
	text-align: center;
	margin: 0 0 10px 18px;
}

.nav a, a:visited {
	text-decoration: none;
}

.nav a:hover {
	opacity: 0.5;
	text-decoration: none;
}

.illu {
	text-align: center;
	margin-top: 40px;
}

.illu img {
	width: 180px;
}

.block {
	border-bottom: 1px solid #efefef;
}

.highlight {
	color: #3eaf8e;
	font-size: 1.8em;
}

.green {
	color: #3eaf8e;	
}

.wrong {
	color: #cf5c45;
	font-size: 2em;
}

.key {
	color: #7c7c7c;
	font-size: 1em;
	line-height: 3em;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	margin-left: .5em;
	padding: 5px 15px 5px 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: none;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-box-shadow: 0 2px 0 #d8d8d8;
	-webkit-box-shadow: 0 2px 0 #d8d8d8;
	box-shadow: 0 2px 0 #d8d8d8;
}

.keys {
	border: 1px solid #e4e4e4;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-left: 0 !important;
	background-color: #f7f7f7;
	margin-bottom: 2.1em !important;
}

.links {
	margin-bottom: 2.1em !important;
	padding: 1.3em !important;
}

.sample {
	color: #3eaf8e;
	font-size: 2em;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	margin-left: .3em;
}


#footer {
	margin-top: .4em;
}

#footer p {
	margin-top: 20px;
	width: 100%;
	font-size: .8em;
	text-align: center;
	display: inline-block;
}

/* Media Queries */

/* Tablet */
@media (max-width: 768px) and (min-width: 641px) {
	
	.hero {
		height: 480px;
		padding: 0 10px 0 10px;
	}
	
	.hero h1 {
		color: #fff;
		font-size: 42px;
		padding-top: 180px;
	}
	
	.nav {
		margin-top: 30px;
		padding-bottom: 8px;
		border-bottom: 1px solid #e4e4e4;
	}

}

/* Mobile */
@media (max-width: 640px) and (min-width: 481px) {  
  
  .hero {
  	height: 300px;
  	padding: 0 10px 0 10px;
  }
  
  .hero h1 {
  	color: #fff;
  	font-size: 34px;
  	padding-top: 95px;
  }
  
  .nav {
  	margin-top: 30px;
  	padding-bottom: 8px;
  	border-bottom: 1px solid #e4e4e4;
  }
  
}

/* Mobile */
@media (max-width: 480px) and (min-width: 321px) {  
  
  .hero {
  	height: 420px;
  	padding: 0 5% 0 5%;
  }
  
  .hero h1 {
  	color: #fff;
  	font-size: 38px;
  	padding-top: 130px;
  }
  
  .nav {
  	margin-top: 30px;
  	padding-bottom: 8px;
  	border-bottom: 1px solid #e4e4e4;
  	float: right;
  }
  
}

/* Mobile */
@media (max-width: 320px) and (min-width: 0px) { 
  
  .hero {
  	height: 420px;
  	padding: 0 15% 0 15%;
  }
  
  .hero h1 {
  	color: #fff;
  	font-size: 32px;
  	padding-top: 95px;
  }
  
  .nav {
  	margin-top: 30px;
  	padding-bottom: 8px;
  	border-bottom: 1px solid #e4e4e4;
  	float: right;
  }
  
}