.entypo {
	font-family: entypo;
	font-size: 1.4em;
	font-style: normal;
}

.entypo-social {
	font-family: entypo-social;
	font-size: 3em;
	font-style: normal;
}

.header {
	height: 650px;
}

.hero {
	background-image: url('../images/keyboard.png');
	background-position-x: 80px;
	background-position-y: 280px;
	background-repeat: no-repeat;
	background-color: #3d99de;
	height: 470px;
}

.hero h1 {
	color: #fff;
	font-size: 52px;
	font-weight: 900;
	line-height: 1.2em;
	margin-top: 0;
	padding-top: 110px;
	text-align: center;
	letter-spacing: -1px;
}

.nav {
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	min-height: 140px;
	margin-top: 40px;
	border-bottom: 1px solid #e4e4e4;
}

.nav ul {
	width: 100%;
	display: inline-block;
	list-style-type: none;
	float: left;
}

.nav li {
	vertical-align: top;
	display: inline-block;
	width: 100px;
	padding: 0 5px 0 5px;
	margin-bottom: 20px;
}

.nav li img {
	display: block;
	text-align: center;
	margin: 0 0 10px 18px;
}

.nav a:hover {
	opacity: 0.5;
	text-decoration: none;
}

.illu {
	text-align: center;
	margin-top: 40px;
}

.illu img {
	width: 180px;
}

.block {
	border-bottom: 1px solid #efefef;
}

.highlight {
	color: #3eaf8e;
	font-size: 1.8em;
}

.green {
	color: #3eaf8e;	
}

.wrong {
	color: #cf5c45;
	font-size: 2em;
}

.key {
	color: #7c7c7c;
	font-size: 1em;
	line-height: 3em;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	margin-left: .5em;
	padding: 5px 15px 5px 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: none;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-box-shadow: 0 2px 0 #d8d8d8;
	-webkit-box-shadow: 0 2px 0 #d8d8d8;
	box-shadow: 0 2px 0 #d8d8d8;
}

.keys {
	border: 1px solid #e4e4e4;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-left: 0 !important;
	background-color: #f7f7f7;
	margin-bottom: 2.1em !important;
}

.sample {
	color: #3eaf8e;
	font-size: 2em;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	margin-left: .3em;
}


#footer {
	margin-top: .4em;
}

#footer p {
	font-size: .8em;
	text-align: center;
}

/* Media Queries */

/* Tablet */
@media (max-width: 768px) and (min-width: 641px) {
	
	/* #buybuttontext {
		font-size: 1em;
		text-align: center;
		margin: 25px 0px 40px 0;
	}
	
	a.buybuttontext {
		color: #fefefe;
		font-size: 1em;
		vertical-align: middle;
		text-align: center;
		text-decoration: none;
		padding: 5px 15px 5px 15px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		-khtml-border-radius: 50px;
		border-radius: 50px;
		border: none;
		background-color: #000;
		-webkit-font-smoothing: antialiased;
	}
	
	a:hover.buybuttontext {
		color: #262626;
		background-color: #e4d3e3;
	} */

}

/* Mobile */
@media (max-width: 640px) and (min-width: 0px) {  
  
  
}